
body{
    text-align: center;
    background-color: rgb(222, 214, 214);
    position: relative;
    margin: 0;
    padding: 0;
}
h1{
    font-family: verdana;
    font-size: 50px;
    color: rgb(150, 58, 236) ;
}
samp{
    font-size: 25px ;
    padding-right: 555px;
    font-weight: bold;
    font-family:inherit;
    color: rgb(131, 22, 163);
}
li{
    list-style-type: none;
    font-size: 20px;
    display: inline;
    font-weight: bold;
    padding: 50px ;
    color:  rgb(131, 22, 163);
}
a {
    text-decoration: none;
}
header{
    position: fixed;
    top: 0 ;
    background-color: azure;
    right: 0 ;
    left: 0 ;
}
img{
    margin-top: 45px ;
    width: 100%;
    height: 600px;
}
#quote{
    font-size: 70px ;
    color:rgb(147, 112, 177)
}
div{
    background-color: blanchedalmond;
    text-align: left; 
}
#woman{
    position:absolute;
    top: 1080px;
    width: 470px ;
    height: 230px;
    margin-left: 900px;
    margin-top: -10px ;

}
p{
    font-size: 20px;
    margin-left: 10px;
}
#cm{
    width: 50px;
    height: 40px;
    margin-top: 1px;
    padding-left: 0px ;
}
h3{
    color: rgb(105, 84, 110);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h5{
    font-size: 20px;
}
table{
    width: 1000px;
}